.gradient-custom {
    /* fallback for old browsers */
    background: #9055FD;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(134, 72, 249, 1), rgba(213, 195, 247, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(134, 72, 249, 1), rgba(213, 195, 247, 1))
    }